<div class="album">
  <div class="container">
    <h1 class="mt-4"> Liste des événements </h1>
    <a class="btn btn-lg btn-primary col-6 col-lg-4 my-5" href="<%= new_event_path %>"> Créer un nouvel événement</a>
    <div class="row">
      <%= render @events %>
    </div>
  </div>
</div>
