<div class="container mt-3">

  <%= render 'events/event_full'%>

  <% if !user_signed_in? %>
    <div class="alert alert-primary"> Connecte toi pour t'inscrire ! </div>
  <% elsif @event.administrator?(current_user) %>
    <div class="alert alert-primary"> Tu es l'admin de cet événement </div>
  <% elsif @event.attendee?(current_user) %>
    <div class="alert alert-primary"> Tu es déjà inscrit </div>
  <% else %>
    <%= link_to "Rejoindre l'événement !", new_event_attendance_path(@event), :class => "nav-link btn btn-primary" %>
  <% end %>

</div>
