.jumbotron {
    background-image: url(asset_path('jumbo-picture.jpg'));
    background-size: cover;
  }
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}