<% content_for :main do %>
  <div class="container d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="card border-secondary">
        <div class="card-header text-primary">
          <h4> <%= @devise_title or "Formulaire" %> </h4>
        </div>
        <div class="card-body py-4">
          <%= content_for?(:devise) ? yield(:devise) : yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
